body {
    background-image: url('./images/background.gif');
    background-size: cover;
    background-attachment: scroll;
    margin: 0;

}

#home {
    background-image: url('./images/background2.jpg');
    background-size: cover;
    background-attachment: scroll;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    max-width: 100%;
    
}

.Home-h1 {
    font-family: monospace;
    color: white;
    margin: 200px 100px;
    font-weight: bold;
    border: 1px solid brown;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 5px rgb(182, 167, 167);
}

@media(max-width:786px) {
    .Home-h1 {
        font-size: 25px;
        text-align: center;
    }

    body {
        background-position: center;
        background-attachment: scroll;
        margin: 0;
        padding: 0;
    
    }

    #home {
        max-width: 90%;
        height: auto;
        padding-right: 5%;
        background-position: center;
        background-attachment: scroll;
    }

    #home .Home-h1 {
        text-align: center;
        font-size: 20px;
        padding: 5%;
        margin: 65% auto;
        height: 29px;
        max-width: 100%;
    
    }
}