body {
    background-image: url('./images/background.gif');
    background-size: cover;
    background-attachment: scroll;
    font-size: 20px;
    color: black;

}

.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 0 15px;

}

h1 {
    color: brown;
}